.custom-btn-pnf {
    display: block;
    margin: 0 auto;

    height: 60px;
    width: 200px;
    font-size: 18px;

    color: var(--accent);
    background-color: var(--primary);

    border-color: transparent;
    border-width: 1px;
    border-radius: 0.375rem;
    text-decoration: none;
}

.custom-btn-pnf:hover{
    background-color: #148e90;
    transition: 0.4s;
}
