.profile {
    display: flex;
}

.sidebar {
    width: 20%;
}

.picture {
    height: 125px;
    width: 125px;
    border-radius: 3px;
    border-color: black;
    border-radius: 50%;
}

.name {
    color: var(--accent);
    padding: 20px;
    font-size: 20px;
}

.difficulty-name {
    font-weight: bold;
    font-size: 18px;
}

.brief-history {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--accent);
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
}

.difficulty-item {
    padding: 10px;
    display: block;
    justify-content: space-between;
    align-items: center;
}   

.wdl {
    margin: 0px;
}

.ratio {
    margin-bottom: 5px;
}

.divider {
    margin: 0;
    border-top: 1px solid black;
}

.divider-bold {
    margin: 0;
    border-top: 2px solid black;
}

.game {
    width: 75%;
    background-color: var(--accent);
    margin: none;
    border-radius: 25px;
}

.games-scrollable { /* Set the desired height for scrollable games section */
    max-height: 528px;
    overflow-y: auto;
    padding-right: 10px; /* Add some right padding to prevent scrollbar overlapping content */
}

.history-head {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .profile {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 1rem;
    }

    .brief-history{
        width: 40%;
    }

    .games {
        margin: 0 auto;
    }

    .game {
        width: 75%;
        margin: 0 auto;
    }
}   