:root {
    --background: #0b253c;
    --primary: #1fc1c3;
    --primary-hover: #148e90;
    --secondary: #5175f2;
    --secondary-hover: #2d4dc0;
    --accent: #ffffff;
}

.App {
    text-align: center;
    font-family: Arial, Verdana, Helvetica, Georgia;
  }
  
html, body {
  padding: 0;
  margin: 0; 
  background-color: var(--background);
  font-family: 'Work Sans', sans-serif;
}